<div class="nm-UserDetails">
    <div class="nm-Content">
        <div class="nm-Content-inner">
            <h1 class="nm-User-title">{{user_name}}</h1>
            <div class="nm-User-right">
                {{#if user_about}}
                <div class="nm-User-about">
                    <h2>About</h2>
                    <div class="nm-User-aboutText">{{user_about}}</div>
                </div>
                {{/if}}
            </div>
            <div class="nm-User-left">
                <div class="nm-UserDetails-posts"></div>
            </div>
        </div>
    </div>
</div>