<div class="nm-Footer">
    <div class="nm-Footer-inner">
        <div class="nm-Footer-menu">
            <ul>
                <li><a href="/" data-lang="en" class="nm-Footer-lang">English</a></li>
                <li><a href="/" data-lang="ru" class="nm-Footer-lang">Русский</a></li>
                <li><a href="http://www.facebook.com/noisymap">Facebook</a></li>
                <li><a href="http://www.twitter.com/noisymap">Twitter</a></li>
            </ul>
        </div>
        <div class="nm-Footer-copy"><a href="/">Noisymap</a> &copy; 2015</div>
    </div>
</div>