<div class="nm-Head">
    <div class="nm-Head-inner">
        <div class="nm-Head-logo"><a href="/"><span>Noisymap.com</span></a></div>
        <div class="nm-Search">
            <div class="nm-Search-inner"><input type="text" class="nm-Search-input" placeholder="Location"></div>
        </div>
        <div class="nm-Links-container">
            <div class="nm-Links-login">
                <div class="nm-Link"><span id="LinkLogin">Login</span></div>
                <div class="nm-Link"><span id="LinkRegister">Register</span></div>
            </div>
        </div>
    </div>
</div>