<div class="nm-Home">
    <div class="nm-Map"></div>
    <div class="nm-Content">
        <div class="nm-Content-inner">
            <div class="nm-Content-filterWrapper"></div>
        </div>
    </div>
</div>