<div class="nm-MapSection">
    <input type="hidden" id="filter" value=""/>
    <div class="nm-Map-line"></div>
    <div id="Map" class="nm-Map-container" style="height: 200px;"></div>
    <div id="Slider" class="nm-Slider">
        <div class="nm-Slider-line"></div>
        <div class="nm-Slider-inner">
            <div class="nm-Slider-label"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>