<div id="{{comment_id}}" class="nm-Comment">
    <div class="nm-Comment-content">{{comment_text}}</div>
    <div class="nm-Comment-info">
        <span>{{comment_time}}</span> - <a href="/#users/{{user_uuid}}">{{user_name}}</a>
    </div>
</div>