<table class="nm-Content-filter">
    <tr>
        <td><a data-tag="" href="/#" class="nm-Content-filter-item nm-Content-filter-item_all">EVERYTHING</a></td>
        <td><a data-tag="audio" href="/#filter/audio" class="nm-Content-filter-item nm-Content-filter-item_audio">AUDIO</a></td>
        <td><a data-tag="photo" href="/#filter/photo" class="nm-Content-filter-item nm-Content-filter-item_photo">PHOTO</a></td>
        <td><a data-tag="video" href="/#filter/video" class="nm-Content-filter-item nm-Content-filter-item_video">VIDEO</a></td>
    </tr>
</table>