<div class="nm-Post">
    <div class="nm-Post-column">
        <div class="nm-Post-title">
            <a href="/#posts/{{post_uuid}}">{{post_title}}</a>
        </div>
        <div class="nm-Post-content">{{post_text}}</div>
        {{#each resources}}
        <div class="nm-Post-resource" data-audio="{{this.resource_audio}}" data-video="{{this.resource_video}}" data-video-width="{{this.resource_video_width}}" data-video-height="{{this.resource_video_height}}">
            {{#if this.resource_image}}
                {{#if this.resource_video}}
                    <div class="nm-Post-resourceImage"><img src="{{this.resource_image}}" alt="" width="130"></div>
                {{else}}
                    <div class="nm-Post-resourceImage"><a href="{{this.resource_url}}"><img src="{{this.resource_image}}" alt="" width="130"></a></div>
                {{/if}}
                {{#if this.resource_audio}}
                    <div class="nm-Post-resourceImage"><img src="{{this.resource_image}}" alt="" width="130"></div>
                {{else}}
                    <div class="nm-Post-resourceImage"><a href="{{this.resource_url}}"><img src="{{this.resource_image}}" alt="" width="130"></a></div>
                {{/if}}
                <div class="nm-Post-resourceColumn">
                    <div class="nm-Post-resourceTitle"><a href="{{this.resource_url}}">{{this.resource_title}}</a></div>
                    <div class="nm-Post-resourceDescription">{{this.resource_description}}</div>
                </div>
            {{else}}
                <div class="nm-Post-resourceTitle"><a href="{{this.resource_url}}">{{this.resource_title}}</a></div>
                <div class="nm-Post-resourceDescription">{{this.resource_description}}</div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <div class="nm-Post-info">
        <ul>
            {{#if post_tags.length}}
                <li class="nm-Post-tags">
                    {{#each post_tags}}
                        {{#if this}}<a href="/#filter/{{this}}">{{this}}&nbsp;</a>
                        {{else}}
                            <span>untagged</span>
                        {{/if}}
                    {{/each}}
                </li>
            {{/if}}
            {{#if place}}
                <li class="nm-Post-location"><a href="/#places/{{place.place_uuid}}">{{place.place_name}}</a></li>
            {{/if}}
            <li class="nm-Post-person"><a href="/#users/{{user_uuid}}">{{user_name}}</a></li>
            <li class="nm-Post-comments"><a href="/#posts/{{post_uuid}}">{{comments_count}} Comment</a></li>
        </ul>
    </div>
</div>