<div class="nm-PostDetails">
    <div class="nm-Content">
        <div class="nm-Content-inner">
            <div class="nm-PostDetails-posts"></div>
            <div class="nm-PostDetails-comments" {{#unless comments.length}}style="display: none;"{{/unless}}></div>
        </div>
    </div>
</div>