<div class="nm-PlaceDetails">
    <div class="nm-Place-map"></div>
    <div class="nm-Content">
        <div class="nm-Content-inner">
            <div class="nm-Place-right">
                {{#if place_about}}
                    <div class="nm-Place-about">
                        {{#if place_ffm_id}}
                        <div class="nm-Place-wiki">
                            <a href="{{place_about}}" target="_blank">{{place_name}}</a>
                        </div>
                        {{else}}
                        <div class="nm-Place-aboutText">{{place_about}}</div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
            <div class="nm-Place-left">
                <h1 class="nm-Place-title">{{place_name}}</h1>
                <div class="nm-PlaceDetails-posts"></div>
            </div>
        </div>
    </div>
</div>