.nm-User-title {
    padding: 0 0 30px;
    margin: 0 250px 0 0;
    border-bottom: 3px solid #dee8ee;
    font-size: 36px;
    color: #231F20;
    letter-spacing: -0.056em;
}

.nm-User-title .nm-Favorites-add,
.nm-User-title .nm-Favorites-remove {
    float: right;
    margin-top: 6px;
}


.nm-User-left {
    margin-right: 250px;
}

.nm-User-right {
    float: right;
    width: 220px;
    background: #f7f7f7;
    margin-top: -72px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}

.nm-User-about {
    padding: 0 18px 30px;
}

.nm-User-about h2 {
    margin: 0;
    padding: 16px 0 20px;
}

.nm-User-aboutText {
    font-style: italic;
    color: #737578;
}

.nm-UserDetails-posts {
    padding: 10px 0 32px;
}

.nm-UserDetails .nm-Content-inner {
    padding-top: 40px;
}

